h1{
  font-family: "Poppins";
  color: #000000;
  font-size: 35px;
  /* font-weight: 100px; */
  /* letter-spacing: -5px; */
  padding: 50px  0px 0px 0px;
  z-index: 999;
}

.first-section .image-wrapper {
  margin-top:80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .first-section img {
  width: 35%;
} */

.first-section h1 {
  color: #ffffff;
}

.first-section h5{
  font-family: "Poppins";
  color: #ffffff;
}

h7 {
  font-family: "Poppins";
  color: #ffffff;
}

.first-section .image-wrapper img {
  position: absolute;
}

.first-section {
  background: linear-gradient(180deg, #271f52 75%, #ffffff 25%);
  width : 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

}

.sectioned {
  /* padding-left: 300px; */
}

.unsectioned{
  /* padding-left: 300px; */
}

.second-section{
  text-align: center;
  font-size: 20px;
}

.second-section{
  padding-top: 150px;
  padding-bottom: 50px;
}

.second-section p{
  padding-bottom: 30px;
}

.video{
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example{
  text-align: center;
}

.example h1{
  text-align: center;
  color: #000000;
}
.example p{
  text-align: center;
  font-size: 20px;
}

.example .explanation{
  text-align: left;
  font-size: 17px;
}

.example img{
  width: 30%;
  display: inline-block;

}

.assisted_help {
  background-color: #EDEDED;
}


.assisted_help h1{
  text-align: center;
}

.assisted_help label{

  padding-right: 20px;
  align-items: center;
}

.check_box{
  text-align: center;
}

.assisted_help p{
  text-align: center;
  font-size: 20px;
}

.assisted_help .explanation{
  text-align: left;
  font-size: 17px;

}



.assisted_help img{
  width: 40%;
  display: block;
  margin: 0 auto 0 auto;

}


.check_last{
  color: white;
}

.check {
  text-align: right;
}

.right_answer {
  color:  #09AA00;
}

.wrong_answer {
  color:  #FF0000;
}

.section_5{
  background-color: #272151;
  padding-bottom: 30px;
}
.section_5 h1{
  color: white;
  text-align: center;
}
.section_5 p{
  text-align: center;
  color: white;
  font-size: 20px;
}

#right_answer {
    text-align: center;
  color:  #09AA00;
}

#wrong_answer {
    text-align: center;
  color:  #FF0000;
}
#footer {

  background-color: #444444;


  text-align: center;

  padding-top: 10px;

  padding-bottom: 10px;

}

#footer p{
  color: white;
}

#footer img{
  width: 200px;
}
